<%= form_tag '/top/login', method: :post do %>
 <p><%= label_tag :uid, 'ユーザーID' %>
 <%= text_field_tag :uid %></p>
 <p><%= label_tag :pass, 'パスワード' %>
 <%= password_field_tag :pass %></p>
 <p><%= submit_tag 'ログイン' %></p>
<% end %>
<%= button_to 'ユーザー登録', new_user_path, method: :get %>