<%= form_for @users , url: {action: :create} do |f| %>
 <p><%= f.label :uid, 'ユーザーID' %>
 <%= f.text_field :uid %></p>
 <p><%= f.label :pass, 'パスワード' %>
 <%= f.password_field :pass %></p>
 <p><%= f.submit '登録' %></p>
<% end %>